@import "../../../assets/scss/helpers/variables";
@import "../../../assets/scss/helpers/mixins";

.scoring{
  &--stars{
    display: inline-flex;
    position: relative;
    margin-top: 0.2rem;
    svg{ flex: 0 0 auto; }
  }
  &__hover{
    position: absolute;
    display: inline-flex;
    max-width: 0;
    width: 100%;
    overflow: hidden;
    transition: max-width $anim;
    animation: loadStars $anim-duration*2 $anim-easing forwards;
  }

  @keyframes loadStars{
    100%{ max-width: var(--value); }
  }
}