//
//  F O R M
//
//  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

label{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  display: flex;
  flex-direction: column;

  margin-bottom: $vr;

  span{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.4rem;
    padding: 0;
    line-height: 1;
    color: clr(gray-darker);

    &[data-optionnal]:after{
      content: 'Optionnel';
      font-size: 1rem;
      line-height: 1.2rem;
      color: clr(gray);
    }
  }

  & > input,
  & > select,
  & > textarea{
    margin-top: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    line-height: 1.2;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }

  &.error{
    position: relative;
    color: clr(alert);

    &:before{
      content: '';
      position: absolute;
      top: 6.1rem;
      left: $vr;
      display: block;
      width: $vr;
      height: 0;
      border-bottom: $vr/2 solid rgba(clr(alert), 0.2);
      border-left: $vr/2 solid transparent;
      border-right: $vr/2 solid transparent;
    }
    &:after{
      content: attr(data-error);
      position: relative;
      background: rgba(clr(alert), 0.2);
      color: clr(alert);
      font-size: 1rem;
      line-height: 1;
      padding: 1rem 1rem;
      border-radius: 1.5rem;
    }
    & > input,
    & > select,
    & > textarea{
      border-color: clr(alert);
      margin-bottom: $vr*0.75;
    }
  }
  abbr{
    display: none;
  }
  
  &.dark{
    input{
      border: none;
      background-color: clr(primary-dark);
    }
    input::-webkit-input-placeholder{
      color: clr(white);
    }
  }
}

/*---
title:   Input
name:    form-input
order: 2
section: Form
---

```example:html
<label for="input-error" class="error" data-error="Error message">
  Input label
  <input type="text" name="input" value="Content added" id="input-error">
</label>
<label for="input">
  Input label
  <input type="text" name="input" value="" id="input" placeholder="Input placeholder">
</label>
<label for="input-value">
  Input label
  <input type="text" name="input" value="Content added" id="input-value">
</label>
<label for="input-disabled">
  Input label
  <input type="text" name="input" value="I am disabled" id="input-disabled" disabled>
</label>
```
*/

input,
textarea,
select{
  width: 100%;
  position: relative;
  border: none;
  border-bottom: 1px solid clr(gray);
  background: transparent;
  appearance: none;
  font-size: 1.3rem;
  line-height: 1.425;
  font-weight: 400;
  padding: 1.2rem 0;
  color: clr(black);
  border-radius: 0;
  transition: border $anim;

  &:not(:disabled):hover{
    border-color: clr(gray-dark);
  }
  &:not(:disabled):focus{
    border-color: clr(gray-darker);
  }
  &:disabled{
    background: rgba(clr(gray-lighter), 0.5);
    color: clr(gray-dark);
  }
  &[aria-invalid="true"]{
    border-color: clr(alert);
  }
}

input{
  line-height: 4.1rem;
  padding-top: 0;
  padding-bottom: 0;
}
textarea{
  line-height: 1.425;
}

input::placeholder,
textarea::placeholder{
  font-size: 1.3rem;
  line-height: 1.425;
  color: clr(gray-dark);
  vertical-align: middle;
}
input::placeholder{
  line-height: 4.1rem
}

input.quantity{
  text-align: center;
  width: 6.5rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 54px;
  padding: 0;
  margin: 0 auto;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*---
title:   Select
name:    form-select
section: form
---

```example:html
<label for="select1">
  Select label
  <select class="" name="select" id="select1">
    <option value="1">Select option</option>
    <option value="2">Select option</option>
    <option value="3">Select option</option>
    <option value="4">Select option</option>
    <option value="5">Select option</option>
  </select>
</label>
<label for="select2">
  Select label
  <select class="" name="select" id="select2" disabled>
    <option value="1">Select option</option>
    <option value="2">Select option</option>
    <option value="3">Select option</option>
    <option value="4">Select option</option>
    <option value="5">Select option</option>
  </select>
</label>
```
*/

select{
  margin: 0;
  padding: 0.2rem 2.5rem 0.2rem 0.5rem;
  color: clr(black);
  border: none;
  border-radius: 0;
  font-size: 1.8rem;
  border-bottom: 1px solid clr(gray-light);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 16' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath fill='#{clr(gray)}' transform='translate(-254.000000, -1687.000000)' d='M268,1697.64663 L278.889276,1687.1931 C279.15807,1686.93051 279.601892,1686.93676 279.876937,1687.2056 L281.789749,1689.07498 C282.064794,1689.34382 282.071045,1689.78147 281.802251,1690.04406 L268.506333,1702.81087 C268.36881,1702.94842 268.18128,1703.01094 268,1702.99844 C267.812469,1703.00469 267.63119,1702.94217 267.493667,1702.81087 L254.197749,1690.04406 C253.928955,1689.78147 253.935206,1689.34382 254.210251,1689.07498 L256.123063,1687.2056 C256.398108,1686.93676 256.84193,1686.93051 257.110724,1687.1931 L268,1697.64663 Z'%3E%3C/path%3E %3C/svg%3E");
  background-position: calc(100% - 0.5rem) 50%;
  background-repeat: no-repeat;
  background-size: 14px;
  cursor: pointer;
  transition: all $anim-duration*2 $anim-easing;

  &:not(:disabled):hover{
    border-bottom-color: clr(gray-dark);
    box-shadow: 0 1px 0 clr(gray-dark);
  }
  &::-ms-expand {
    display: none;
  }
  &:disabled{
    opacity: 1;
    padding: 0.2rem 0.2rem;
    cursor: default;
  }
  &.small{
    background-position: calc(100% - 1.2rem) 50%;
    padding: 0.5rem 4rem 0.5rem 2rem;
  }
}

/*---
title:   Textarea
name:    form-textarea
section: form
---

```example:html
<label for="textarea">
  Textarea label
  <textarea name="textarea" id="textarea" placeholder="Textarea placeholder"></textarea>
</label>
```
*/
textarea{
  resize: vertical;
  min-height: $vr*8;
}

/*---
title:   Input group
name:    form-input-group
section: form
---

```example:html
<label for="input-group" class="input-group">
  Group input
  <div class="input-group--inner">
    <input type="text" name="input-group" id="input-group" value="" placeholder="input placeholder" id="input-group">
    <button type="submit" name="button" class="button secondary">OK</button>
  </div>
</label>
<label for="input-group-disabled" class="input-group">
  Group input disabled
  <div class="input-group--inner">
    <input type="text" name="input-group" id="input-group-disabled" value="" placeholder="input placeholder" id="input-group" disabled>
    <button type="submit" name="button" class="button secondary disabled">OK</button>
  </div>
</label>

<label for="input-group_search" class="input-group search">
  <div class="input-group--inner">
    <input type="text" name="input-group" value="" placeholder="Rechercher un produit" id="input-group_search">
    <button type="submit" name="button" class="button secondary">
      <svg class="icon"><use xlink:href="#icon-search" /></svg>
    </button>
  </div>
</label>
```
*/

.input-group{
  position: relative;

  > input{
    margin-top: 0;
    padding: 0 $vr*3 0 2.2rem;
    border-radius: $vr;
    line-height: 4.1rem;
    border: 1px solid clr(gray);

    &:focus + button{
      color: clr(gray-darker);
    }
  }
  button{
    position: absolute;
    width: $vr;
    height: $vr;
    top: 50%;
    right: $vr*0.5;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    color: clr(gray);
    transition: color $anim;
  }

  &.dark{
    input,
    button{
      color: clr(white);
    }
    input:focus + button{
      color: clr(gray);
    }
  }
}

/*---
title:   Input radio
name:    form-input-radio
section: form
---

```example:html
<div class="">
  <input type="radio" name="radio" value="1" id="radio1">
  <label for="radio1">
    Radio option
  </label>
</div>
<div class="">
  <input type="radio" name="radio" value="2" id="radio2" checked>
  <label for="radio2">
    Radio option
  </label>
</div>
<div class="">
  <input type="radio" name="radio-disabled" value="2" id="radio2" disabled>
  <label for="radio2">
    Radio option
  </label>
</div>
<div class="">
  <input type="radio" name="radio-disabled" value="3" id="radio3" checked disabled>
  <label for="radio3">
    Radio option
  </label>
</div>
```
*/
input[type="radio"]{
  display: none;
  
  + label{
    position: relative;
    display: block;
    padding: 1rem 1rem 1rem 4rem;
    border: 1px solid clr(gray-lighter);
    border-radius: 0.4rem;
    cursor: pointer;
    min-height: 4rem;
    margin-bottom: 0;
    font-size: 1.4rem;
    line-height: 2rem;
    color: clr(gray-darker);
    transition: all $anim;
    
    &:before{
      content: '';
      position: absolute;
      left: 1rem;
      top: 2rem;
      transform: translateY(-50%);
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      background: clr(gray-light);
      border: 1px solid clr(gray-light);
      transition: all $anim;
    }
    &:after{
      content: '';
      position: absolute;
      left: 1.4rem;
      top: 2rem;
      transform: translateY(-50%);
      width: 0.8rem;
      height: 0.8rem;
      border-radius: $global-radius;
      background: clr(gray-dark);
      opacity: 0;
      transition: all $anim;
    }
  }
  &:checked + label{
    border: 2px solid clr(gray-dark);
    padding: 0.9rem 0.9rem 0.9rem 3.9rem;
    
    &:after{ opacity: 1; }
  }
  &:disabled{
    + label{
      opacity: 0.4;
      color: clr(gray-dark);
      cursor: default;

      &:before{
        background: clr(gray-light);
      }
    }
  }
}

/*---
title:   Input checkbox
name:    form-input-checkbox
section: form
---

```example:html
<div class="">
  <input type="checkbox" name="checkbox" value="1" id="checkbox1">
  <label for="checkbox1">
    Checkbox option
  </label>
</div>
<div class="">
  <input type="checkbox" name="checkbox" value="2" id="checkbox2" checked>
  <label for="checkbox2">
    Checkbox option
  </label>
</div>
<div class="">
  <input type="checkbox" name="checkbox" value="3" id="checkbox3" disabled>
  <label for="checkbox3">
    Checkbox option
  </label>
</div>
<div class="">
  <input type="checkbox" name="checkbox" value="4" id="checkbox4" checked disabled>
  <label for="checkbox4">
    Checkbox option
  </label>
</div>
```
*/
input[type="checkbox"]{
  display: none;
  
  + label{
    position: relative;
    display: block;
    padding: 1rem 1rem 1rem 4rem;
    border: 1px solid clr(gray-lighter);
    border-radius: 0.4rem;
    cursor: pointer;
    min-height: 4rem;
    height: 100%;
    margin-bottom: 0;
    font-size: 1.4rem;
    line-height: 2rem;
    color: clr(gray-darker);
    transition: all $anim;
    
    &:before{
      content: '';
      position: absolute;
      left: 1rem;
      top: 1.2rem;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 2px;
      background: clr(gray-light);
      border: 1px solid clr(gray-light);
      transition: all $anim;
    }
    &:after{
      display: none;
    }
    svg{
      position: absolute;
      left: 1.2rem;
      top: 2rem;
      transform: translateY(-50%);
      width: 1.2rem;
      opacity: 0;
      transition: all $anim;
    }
  }
  &:checked + label{
    border: 2px solid clr(gray-dark);
    padding: 0.9rem 0.9rem 0.9rem 3.9rem;
    
    svg{ opacity: 1; }
  }
  &:disabled{
    + label{
      opacity: 0.4;
      color: clr(gray-dark);
      cursor: default;

      &:before{
        background: clr(gray-light);
      }
    }
  }

  &[id*="toggle-"]:not(:checked) ~ .toggle,
  &[id*="toggle-"]:checked ~ .hide-when-toggle{
    display: none;
  }
}

label[for*="toggle-"]{ cursor: pointer; }
