@import "../../../assets/scss/helpers/variables";
@import "../../../assets/scss/helpers/mixins";

$loader-size: 100%/3;

.loadIndicator{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(clr(primary), 0.2);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity $anim-duration*4 $anim-easing;

  &.show{
    opacity: 1;
    pointer-events: unset;
  }

  &__inner{
    position: relative;

    &:after{
      display: block;
      content: '';
      padding-top: 100%;
    }
  
    .dot{
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: 50% 50%;
      transform: translate(-50%, -50%);
  
      &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: clr(white);
        border-radius: 50%;
        animation-fill-mode: both;
        animation-duration: $anim-duration*4;
        animation-timing-function: cubic-bezier(0.21, 0.98, 0.6, 0.99);
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
  
      &:after{
        display: block;
        content: '';
        padding-top: 100%;
      }
      @for $i from 1 to 4{
        &:nth-child(#{$i}){
          width: $loader-size*$i;
          z-index: #{4 - $i};
          &:before{
            animation-name: loader-dot-#{$i};
          }
        }
      }
    }
  
    &.primary{
      .dot:before{ background-color: clr(primary); }
    }
    &.primary-light{
      .dot:before{ background-color: clr(primary-light); }
    }
    &.gray-light{
      .dot:before{ background-color: clr(gray-light); }
    }
    &.gray-light{
      .dot:before{ background-color: clr(gray-light); }
    }
  }
}

@keyframes loader-dot-1 {
  0%, 70% {
    transform: scale(0);
    box-shadow: 0 0 0 rgba(0,0,0,0.12), 0 0 0 rgba(0,0,0,0.24);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}
@keyframes loader-dot-2 {
  0%, 40% {
    transform: scale(0);
    box-shadow: 0 0 0 rgba(0,0,0,0.12), 0 0 0 rgba(0,0,0,0.24);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}
@keyframes loader-dot-3 {
  0%, 10% {
    transform: scale(0);
    box-shadow: 0 0 0 rgba(0,0,0,0.12), 0 0 0 rgba(0,0,0,0.24);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}